
 .parent{
    position:relative;
    z-index: -1;
 }
 .child{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 550px;
    height: auto;
    transform: translate(-50%,-50%);
 }
 
 .contact_main_img{
    padding-top: 250px;
    padding-bottom: 40px;
    background-color: #051a69;
    background-image: url(../images/contactpic1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
 }
 .contact_content h1{
    color: #fbba02;
    text-align: center;
    font-size: 33px;
    line-height: 39px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 15px;
    margin-top:-50px !important;
 }
 .contact_content h2{
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 34px;
    letter-spacing: 0px;
 }
 .fivestar{
    width:25%;
}
.googleabout{
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin: 0 0 15px;
}
 .contact-callback{
    background-image: url(../images/si-call-back-bg.jpg);
    padding: 3%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.contact-margin{
    margin-top: 50px;
}
.locationsdiv{
    background-color: #051a69;
    padding-top: 30px;
    padding-bottom: 100px;
    color: #fff;
    position: relative;
}
.locationpadding{
   background-color: #041a6b !important;
   padding: 30px;
   margin-bottom:20px;
   border: 1px solid white;
   border-radius: 4px;
   margin: 20px !important;
   
}
.contact-ul-style{
   list-style: none;
}
.contact-ul-style li a{
    text-decoration: none;
    margin: 0px;
    color: white;
    line-height: 25px;
}
.contact-ul-style li span{
    margin:0px;
    color:white;
    font: inherit;
}
.contact-ul-style li i{
    margin-left: 15px;
    margin-right: 5px;
}
.contact-ul-style li h3{
    color: #fff;
    padding-left: 10px;
    font-size: xx-large;
}
.specialcol{
    margin-left: 25%;
}
.call{
    color: #009318;
    font-weight: 700;
    font-size: 25px;
}
 
 

   
 