.courses_start{
    background-color: transparent;

}
.courses_main_img{
    padding-top: 250px;
    padding-bottom: 150px;
    background-color: #051a69;
    background-image: url(../images/contactpic1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed !important;
}
.gold-logo{
    color: #fbba02;
    font-size: 45px;
    text-align: center;
}
.courses-logo h2{
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.courses-logo h6 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.courses-logo h6 strong{
    font-size: 20px;
    color: #fbba02;
    font-weight:700;
}
.fivestarcourses{
    color: #fff;
    text-align: center;
}
.courses-cards h3{
    color: #fff;
    margin-left: -15px;
}
.course-col{
    padding: 10px;
}
.course-col div{
    background-color: #fff;
    padding: 10px 15px;
}
.course-col h6{
    margin: 0px 0px;
    color: blue;
    font-size: 20px;
}
.course-col a{
    text-decoration: none;
}
.courses-callback{
    padding: 50px 0px;
    background-color: #041a6b;
}
.courses-iframediv{
    padding: 3%;
    margin-top: -160px;
    background-image: url(../images/si-call-back-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.callback-v2 h2{
    color: #000c81;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 35px;
}
.callback-v2 p{
    color: #041a6b;
    margin-bottom: 30px
}
.footerstart-v2{
    padding: 70px 0px;
}
.callback-end-img-div{
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #041a6b;
    background-image: url(../images/snowpark-home-slide-decoration-bottomm.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    position: relative
}
.callback-end-img-div h4{
    text-align: center;
    color: #19cf37;
    font-size: 50px;
    line-height: 25px;
    font-weight: 700;


}
.callback-end-img-div h5{
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #fff;
    margin-top: 15px;
}
.courses-bottom-decoration{
    background-image: url(../images/snowpark-home-slide-decoration-bottomm.png);
    height: 127px;
    background-position: center bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;

}