<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Contact</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
      <!-- Responsive-->
      <link rel="stylesheet" href='{% static "css/responsive.css" %}'>
      <!-- fevicon -->
      <link rel="icon" href='{% static "images/fevicon.png" %}' type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href='{% static "css/jquery.mCustomScrollbar.min.css" %}'>
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
      <link rel="stylesheet" href='{% static "css/owl.theme.default.min.css" %}'>
      <link rel="stylesheet" href='{% static "vidya_css/contact.css" %}'>
      <link rel="stylesheet" href= "{% static 'vidya_css\vidhya.css' %}">
      <link rel="stylesheet" href='{% static "vidhya_css/about.css" %}'>
      <link rel="stylesheet" href='{% static "vidya_css\signin.css" %}'>
      <link rel="stylesheet" href='{% static "vidya_css\registration.css" %}'>
      <script src="https://kit.fontawesome.com/b87b730e22.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   <style>
      
   </style>
   </head>
   <body>
    <header class="nav_color">
        <div class="container navmargin">
            <nav class="navbar navbar-expand-lg nav_color ">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center left-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{%  url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'courses' %}">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Placement Cell</a>
                            </li>
                        </ul>
                    </div>
        
                   
                    <a class="navbar-brand mx-auto">
                        <img src="{% static 'images/bird.png' %}" alt="logo" width="35" height="35">
                    </a>
        
                    
                    <div class="d-flex align-items-center right-menu">
                        <a class="nav-link " href="{% url "about" %}" >Know SCOPE INDIA</a>
                        <a class="nav-link active" >Contact us</a>
                        <a href="{% url "login" %}"><button class="login_btn">Login</button></a>
                        <a class="register" href="{% url 'register' %}">Register Now</a>
                    </div>
                    <div class="hamburgercontainer">
                    <div class="hamburger-menu"></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class='container-fluid courses_start'>
        <div class='register_main_img'>
            <div class='section-wrapper container register_content'>
                <h1>Registration</h1>
                <h2>It's just a matter of 80 days to an IT job!</h2>
            </div>
    <div class='container-fluid'>
        <div class='container section-wrapper register-callback'>
            <form action="#" method="POST">
                {% csrf_token %}
                <div class='row'>
                    <div class='col reg-colleft'>
                        <ul>
                            <li>
                                <label for="full_name" class='col-block'>Full Name (required)</label>
                                <input type="text" name="full_name" class='w-100'>
                            </li>
                            <li>
                                <label for="dob" class='col-block'>Date of Birth (required)</label>
                                <input type="date" name='dob' class='w-100'>
                            </li>
                            <li>
                                <label for="gender" class='col-block'>Gender (required)</label>
                                <label><input type="radio" name="gender" value='Male'> Male</label>
                                <label><input type="radio" name="gender" value='Female'> Female</label>
                                <label><input type="radio" name="gender" value='Others'> Others</label>
                            </li>
                            <li>
                                <label for="qualification" class='col-block'>Educational Qualification</label>
                                <input type="text" name="qualification" class='w-100'>
                            </li>
                            <li>
                                <label for="course" class='col-block'>Choose your course (required)</label>
                                <select name="course" class="w-100 regi-multichoice">
                                    <option value="">Choose your course!</option>
                                    {% for group in parent_child %}
                                    <optgroup label="{{ group.parent.courses_name }}">
                                        {% for child in group.children %}
                                        <option value="{{ child.courses_name }}">{{ child.courses_name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                                
                            </li>
                            <li>
                                <label for="mobile" class='col-block'>Mobile Number (required)</label>
                                <input name='mobile' type="tel" class='w-100'>
                            </li>
                            <li>
                                <label for="email" class='col-block'>Email (required)</label>
                                <input name='email' type="email" class='w-100'>
                            </li>
                            <li>
                                <label for="guardian_mobile" class='col-block'>Guardian's Mobile</label>
                                <input type="tel" name="guardian_mobile" class='w-100'>
                            </li>
                            <li>
                                <label for="mode" class='col-block'>Training Mode (required)</label>
                                <label><input type="radio" name="mode" value='Live online'> Live online</label>
                                <label><input type="radio" name="mode" value='Classroom'> Classroom</label>
                            </li>
                            <li>
                                <label for="location" class='col-block'>SCOPE INDIA Location (required)</label>
                                <label><input type="radio" name="location" class='marginbtm5px' value='Technopark TVM'> Technopark TVM</label>
                                <label><input type="radio" name="location" class='marginbtm5px' value='Thampanoor TVM'> Thampanoor TVM</label>
                                <label><input type="radio" name="location" class='marginbtm5px' value='Kochi'> Kochi</label>
                                <label><input type="radio" name="location" class='marginbtm5px' value='Nagercoil'> Nagercoil</label>
                                <label><input type="radio" name="location" value='Online'> Online</label>
                            </li>
                        </ul>
                    </div>
                    <div class='col'>
                        <div class="container-fluid">
                            <div class="container-fluid reg-colright">
                                <ul>
                                    <li>
                                        <label for="guardian_name" class='col-block'>Guardian's Name</label>
                                        <input type="text" name="guardian_name" class='w-100'>
                                    </li>
                                    <li>
                                        <label for="guardian_occupation" class='col-block'>Guardian's Occupation</label>
                                        <input type="text" name='guardian_occupation' class='w-100'>
                                    </li>
                                    <li>
                                        <label for="preferred_timings" class='col-block'>Preferred Training Timings (required)</label>
                                        <label class='col-block'><input type="checkbox" name="preferred_timings" class='marginbtm5px' value='8am - 10am'> Between 8am - 10am</label>
                                        <label class='col-block'><input type="checkbox" name="preferred_timings" class='marginbtm5px' value='9am - 1pm'> Between 9am - 1pm</label>
                                        <label class='col-block'><input type="checkbox" name="preferred_timings" class='marginbtm5px' value='1pm - 6pm'> Between 1pm - 6pm</label>
                                        <label class='col-block'><input type="checkbox" name="preferred_timings" value='6pm - 10pm'> Between 6pm - 10pm</label>
                                    </li>
                                    <li>
                                        <label for="address" class='col-block'>Address</label>
                                        <input type="text" name="address" class='w-100'>
                                    </li>
                                    <li>
                                        <label for="country" class='col-block'>Country</label>
                                        <input type="text" name="country" class='w-100'>
                                    </li>
                                    <li>
                                        <label for="state" class='col-block'>State</label>
                                        <input type="text" name='state' class='w-100'>
                                    </li>
                                    <li>
                                        <label for="city" class='col-block'>City</label>
                                        <input type="text" name='city' class='w-100'>
                                    </li>
                                    <li>
                                        <label for="pin" class='col-block'>PIN/Zip Code</label>
                                        <input type="text" name="pin" class='w-100'>
                                    </li>
                                    <li>
                                        <button type='submit' class="regi-registerbtn">Complete Registration &gt;&gt; </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class='container-fluid locationsdiv'>
    <div class='section-wrapper container'>
        <h2 style='color:white; font-size:50px;'>Locations</h2>
 
        <div class='row'>
            <div class='col'>
                <div class='container-fluid locationpadding'>
                    <ul class='contact-ul-style'>
                        <li><h3>Technopark TVM, Kerala</h3></li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                            <span>Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-flip fa-xs"></i>
                            <a href="tel:9745936073">9745936073</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope fa-xs"></i>
                            <a href="mailto:technopark@scopeindia.org">technopark@scopeindia.org</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-link fa-xs"></i>
                            <a href="{% url "home" %}">www.scopeindia.org </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-map fa-xs"></i>
                            <a href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9" target="_blank">Location Route Map </a>
                        </li>
                    </ul>
                </div>
            </div>
 
            <div class='col'> 
                <div class='container-fluid locationpadding'>
                    <ul class='contact-ul-style'>
                        <li><h3>Thampanoor TVM, Kerala</h3></li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                            <span>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-flip fa-xs"></i>
                            <a href="tel:9745936073">9745936073</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope fa-xs"></i>
                            <a href="mailto:info@scopeindia.org">info@scopeindia.org</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-link fa-xs"></i>
                            <a href="{% url "home" %}">www.scopeindia.org </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-map fa-xs"></i>
                            <a href="https://g.page/r/CXbW6SZGeJPfEAE" target="_blank">Location Route Map </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 
        <div class='row'>
            <div class='col'>
                <div class='container-fluid locationpadding'>
                    <ul class='contact-ul-style'>
                        <li><h3>Kochi, Kerala</h3></li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                            <span>SCOPE INDIA, Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-flip fa-xs"></i>
                            <a href="tel:7592939481">7592939481</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope fa-xs"></i>
                            <a href="mailto:kochi@scopeindia.org">kochi@scopeindia.org</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-link fa-xs"></i>
                            <a href="{% url "home" %}">www.scopeindia.org </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-map fa-xs"></i>
                            <a href="https://g.page/r/CWv07KhFfP7dEAE" target="_blank">Location Route Map </a>
                        </li>
                    </ul>
                </div>
            </div>
 
            <div class='col'> 
                <div class='container-fluid locationpadding'>
                    <ul class='contact-ul-style'>
                        <li><h3>Nagercoil, Tamil Nadu</h3></li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                            <span>SCOPE INDIA, Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-flip fa-xs"></i>
                            <a href="tel:8075536185">8075536185</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope fa-xs"></i>
                            <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-link fa-xs"></i>
                            <a href="{% url "home" %}">www.scopeindia.org </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-map fa-xs"></i>
                            <a href="https://goo.gl/maps/fVjnoN7GzcU1zson7" target="_blank">Location Route Map </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 
        <div class='row'>
            <div class='col-md-6 specialcol'> 
                <div class='container-fluid locationpadding'>
                    <ul class='contact-ul-style'>
                        <li><h3>Nagercoil, Tamil Nadu</h3></li>
                        <li>
                            <i class="fa-sharp fa-solid fa-location-dot fa-xs"></i>
                            <span>SCOPE INDIA, Pharma Street, 5/2 Ward 28, Distillery Road, Putheri Nagercoil (Near WCC Jn)</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone-flip fa-xs"></i>
                            <a href="tel:8075536185">8075536185</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope fa-xs"></i>
                            <a href="mailto:ngl@scopeindia.org">ngl@scopeindia.org</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-link fa-xs"></i>
                            <a href="{% url "home" %}">www.scopeindia.org </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-map fa-xs"></i>
                            <a href="https://maps.app.goo.gl/Lsd7LzALy15PpWhX7?g_st=iw" target="_blank">Location Route Map </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='container-fluid courses-bottom-decoration'></div>
        </div>
    </div>
 </div>
 <!-- footer -->
  
<footer>
    <div class="container footerstart-v2">
       <div class="container-fluid footing">
          <img src="{% static 'images\footer1.png' %}" alt="footer_logo" class="d-flex mx-auto footlogo">
          <p class="footdesc">Center for Software, Networking, & Cloud Education</p>
          <p class="footdesc footspacing">Kerala: Technopark TVM | Thampanoor TVM | Kaloor Kochi, Tamil Nadu: Distillery Road | Palace Road Nagercoil
          </p>
          <img src="{% static 'images\footer2.png' %}" alt="iso-logo" class="d-flex mx-auto isologo">
          <p class="footdesc footspacing">An ISO 9001:2015 Certified Company</p>
          <p class="footcopyright footspacing">All Rights Reserved <strong>Suffix E Solutions </strong> © 2007-2025
          </p>
          <div class="container contactcontainer">
             <div class="row footcontactv2">
                <a href="tel:9745936073" class='col'>
                   <div class="footcontact">
                      97459360739(TPK)
                   </div>
                </a>
                <a href="tel:9745936073" class='col'>
                   <div class="footcontact">
                      97459360739(TVM)
                   </div>
                </a>
                <a href="tel:7592939481" class='col'>
                   <div class="footcontact">
                      7592939481(EKM)
                   </div>
                </a>
                <a href="tel:8075536185" class='col'>
                   <div class="footcontact">
                      8075536185(NGL)
                   </div>
                </a>
                <a href="mailto:info@scopeindia.org" class='col'>
                   <div class="footcontact">
                      info@scopeindia.org
                   </div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </footer>
   
   </body>
